

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
  margin-top: 8%;
  width: 35%;
  height: 420px;
  border-radius: 160px;   
  /* background-image: url(./image/8.jpg); */
}

.formLeft {
  margin-left: 23%;
}

.input {
  width: 72%;
  border-bottom-width: 0.5px;
  border-bottom-color: rgb(14, 13, 13);
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  background: transparent;
}

.yan {
  width: 37%;
}

.yan-picture {
  border: none;
  text-align: center;
  font-weight: bold;
  width: 31%;
  height: 30px;
  background: rgba(236, 208, 208, 0.4);
}

.button {
  margin-top: 7%;
  margin-left: 38%;
  position: relative;
  font-size: 20px;
  width: 120px;
  background: transparent;
}

.link {
  margin-left: 22%;
  color: black;
  font-size: 15px;
}

*,
*:after,
*::before {
  /* -webkit-box-sizing: border-box; */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}