.userForm {
    margin-top: 1%;
    margin-left: 17%;
    color: gray;
}

.uspan {
    margin-left: 10%;
    font-size: 20px;
}

.uinput {
    background:none;
    border:none;
    border-bottom:1px solid gray;
}

.sinput {
    margin-left: -33px;
    background:none;
    border:none;
    border-bottom:1px solid gray;
    width: 260px;
}

.online {
    float: left;
}

.ubutton {
    margin-top: 1%;
    margin-left: 25%;
    width: 100px;
    color: gray;
    background:none;
    border:1px solid gray;
}