.remark {
    font-size: 10px;
    color: black;
}

.reform {
    width: 390px;
    height: 440px;
    margin-left: 31%;
}

.rea {
    color: black;
}

.rea1 {
    margin-left: 2%;
    color: black;
}

.relabel {
    font-size: 20px;
}

.reinput1 {
    width: 220px;
    height: 30px;
}
.reinput2 {
    display: none;
}

.rebutton {
    margin-left: 40%;
    width: 100px;
    background-color: white;
    border-color: gray;
    border-width: 0.3px;
}

.hintMsg {
    margin-top: 10%;
    border: none;
    background: transparent;
    font-size: 18px;
}

.pwdImg {
    width: 30px;
    height: 15px;
    cursor: pointer;
    margin-left: -33px;
}
.fa-visible {
    background-image: url(../../static/images/icon-visible.png);
    width: 30px;
    height: 20px;
}
.fa-invisible {
    background-image: url(../../static/images/icon-invisible.png);
    width: 30px;
    height: 20px;
}

